@inherits LayoutComponentBase

<CascadingAuthenticationState>
	<main>
		<div>
			<AuthorizeView>
				<NotAuthorized>
					<a href="/authentication/login">Sign-In</a>
				</NotAuthorized>
				<Authorized>
					<a href="/authentication/logout">log out</a>
				</Authorized>
			</AuthorizeView>
		</div>
		<div>
			@Body
		</div>
	</main>
</CascadingAuthenticationState>