@inherits LayoutComponentBase

<CascadingAuthenticationState>
	<AuthorizeView>
		<NotAuthorized>
			<a href="/authentication/login">Sign-In</a>
		</NotAuthorized>
		<Authorized>
			<main>
				<div>
					<a href="/authentication/logout">log out</a>
				</div>
				<div>
					@Body
				</div>
			</main>
		</Authorized>
	</AuthorizeView>
</CascadingAuthenticationState>