@page "/"
@layout MainLayout

<PageTitle>Welcome</PageTitle>

<div class="home-page position-relative overflow-hidden">
    <div class="pages-container">

        <!--Welcome View-->
        <!--NOTE [YO]: this view currently does not support responsive -->
        <!--NOTE [YO]: might need to convert task-large/task-small into component-->
        <div class="@WelcomeViewClasses">
            <div class="container py-5">

                <div class="row">
                    <h1>Common Tasks</h1>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <button class="task-large p-2">
                            <img class="task-img" src="/images/tasks/tasks-sentiment.jpg" />
                            <h2>Sentiment Analysis</h2>
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="task-small p-2" @onclick="ShowFileOptionsModal">
                            <img class="task-img" src="/images/tasks/tasks-summarize.jpg" />
                            <div class="ps-3 header-container">
                                <h2>Summarize Document</h2>
                            </div>
                        </button>
                        <button class="task-small p-2 mt-3">
                            <img class="task-img" src="/images/tasks/tasks-hookb.jpg" />
                            <div class="ps-3 header-container">
                                <h2>Get Insight from Spreadsheet</h2>
                            </div>
                        </button>
                    </div>
                </div>

                <div class="row mt-5">
                    <h1>Look for Information</h1>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <button class="task-large p-2">
                            <img class="task-img" src="/images/tasks/tasks-search-web.jpg" />
                            <h2>From the Web</h2>
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="task-small p-2">
                            <img class="task-img" src="/images/tasks/tasks-search-workspace.jpg" />
                            <div class="ps-3 header-container">
                                <h2>From your documents</h2>
                            </div>
                        </button>
                        <button class="task-small p-2 mt-3">
                            <img class="task-img" src="/images/tasks/tasks-search-gc.jpg" />
                            <div class="ps-3 header-container">
                                <h2>Within GC</h2>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--Chat View-->
        <div class="@ChatViewClasses">
            <div class="container">
                <ChatSession />
            </div>
        </div>
        
        <WorkspaceFileBrowser />

    </div>
    <div class="@BottomContainerClasses">
        <div class="t-bottom-fade">
            <div class="fader-container">
                <div class="bg-gradient-chat-light"></div>
            </div>
        </div>
        <!--Chat bar-->
        <div class="mb-4 mb-sm-5 px-3 align-items-center flex-column w-100 d-flex position-relative">
            <div class="chat-bar-container">
                <div class="chat-bar-shadow-layer1"></div>
                <div class="chat-bar">
                    <div class="bar">
                        <div class="my-1">
                            <!--TODO: [YO] change svg icon to the one JP recommneded-->
                            <button class="action-btn" @onclick="Mediator.OnToggleMainView">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z" />
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z" />
                                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5" />
                                </svg>
                            </button>
                        </div>

                        <div class="my-1">
                            <button id="upload-file-btn" class="action-btn">
                                <img src="/icons/file-upload-svgrepo-com.svg" />
                            </button>
@*                             <InputFile id="upload-file-input" OnChange="SelectFileToWorkSpace" hidden />
                            <script>
                                document.getElementById('upload-file-btn').onclick = () => {
                                    document.getElementById('upload-file-input').click();
                                };
                            </script> *@
                        </div>
                        <div class="chat-box-container my-1">
                            <!--NOTE [YO]: might need to convert chatbox to component-->
                            <textarea id="chat-box"
                                      @onclick="Mediator.OnSwitchMainViewToChatView"
                                      @bind="UserMessage"
                                      @bind:event="oninput"
                                      @onkeydown="HandleChatBoxKeyDown"
                                      @onkeydown:preventDefault="preventKeyDownOnChatBox"
                                      @onkeyup="HandleChatBoxKeyUp"
                                      rows="1"
                                      placeholder="Message to AskMeX" />
                        </div>
                        <script>
                            const textarea = document.getElementById('chat-box');
                            textarea.addEventListener('input', autoResize);
                            function autoResize() {
                                // Reset height to auto
                                this.style.height = 'auto';
                                // Set height to the scroll height
                                this.style.height = this.scrollHeight + 'px';
                            }
                        </script>
                        <div class="my-1">
                            <button class="action-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
                                    <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5" />
                                    <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<Modal @ref="fileOptionsModal" Title="Please select file options">
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary"
                @onclick="Mediator.OnChoosingExistingFileToSummarize">
            Choose from existing files
        </Button>
        <Button @onclick="ChooseLocalFileToSummarize" Color="ButtonColor.Primary">Upload new File</Button>
    </FooterTemplate>
</Modal>

<InputFile id="upload-file-to-summarize-input" OnChange="Mediator.OnSelectNewLocalPdfFileToSummarize" hidden />
<script>
    window.clickById = (id) => {
        document.getElementById(id).click();
    };
</script>